.content {
    display: flex;
}

.body-box {
    width: 1140px;
    margin: auto;
    font-family: "나눔스퀘어";
}

#body-left {
    width: 75%;
}

#title {
    text-align: left;
    padding-left: 25px;
}

.title-design { 
    margin:10px;
    padding:5px;
    border-bottom: 1px solid rgb(204,102,51);
    color: rgb(204,102,51);
    font-family: "나눔스퀘어_ac ExtraBold";
}

#write-button {
    color: rgb(204,102,51);
}

.list {
    display: flex;
    flex-direction: column;
    color: black;
}

.list:hover div:hover {
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

#post-right {
	font-size:larger;

}

#inner{
    height: auto;
    margin:10px;
}

#inner-title {
    border-bottom:1px solid lightgray;
    font-family: "나눔스퀘어_ac ExtraBold";
}

#inner-text {
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow: hidden;
}

#pic {
    float: right;
    width:60px;
    height:40x;
    
}

.info-design-left {
    float: left;
}

.info-design-right {
    float: right;
}

#body-right {
    width: 23%;
  
}

#sidebar-title {
    text-align: left;
    margin-left: 25px;
    font-family: "나눔스퀘어_ac ExtraBold";
}

.clearfix::after {
    display:block;
    clear: both;
    content:'';
}

.btn-2 {
    color:rgb(204,102,51);
    border:1px solid rgb(204,102,51);
    background-color: white;
    border-radius:5px;
    margin: 5px;
    padding: 5px;
    width:80px;
    float: right;
    text-align: center;
}

.btn-2:hover {
    background-color: rgb(204,102,51);
    color: white;
    text-decoration:none;
}

.btn-2 a {
    text-decoration:none;
    color:rgb(204,102,51);
}

.btn-2:hover a {
    color:white;
    cursor:pointer;
}

.design {
    border: 1px solid lightgray;
    margin:5px;
    padding: 5px;
    border-radius: 5px;
}

.noline-design {
	margin:10px;
    padding: 5px;
}





